### react ###
*.log
logs
**/*.backup.*
**/*.back.*

### NextJS ###
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next
out

# production
/build

# misc
*.pem
# debug
# macOS
.DS_Store
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

### Serverless ###
# Ignore build directory
.serverless

# dist directory
dist

# npm
npm-debug.log*

